.display {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 夜テーマ */
.night {
  background-image: url("/image.png");
}

/* 夜テーマ用の白文字 */
.night .balloon,
.night .center-box {
  background-color: rgba(0, 0, 255, 0.2);
  color: white;
}

.night .time,
.night .message,
.night .balloon {
  color: white;
}